.shop-container {
  display: grid;
  grid-template-columns: 3.5fr 1.5fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 50px 100px;
}
.cart-container {
  background-color: rgb(245, 244, 244);
  height: 40vh;
  margin-top: 50px;
  margin-right: 80px;
  border-radius: 20px;
  box-shadow: 6px 6px 11px -5px slategrey;
  position: sticky;
  top: 0px;
}
@media screen and (max-width: 1100px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
